body{
    text-align: center;
    color: #2b2839;
    background-color: teal;
}
.nav-bar {
    display: flex;
    justify-content: center;
}
#items1, #items2, #items3, #items4, #increment-btn, #save-btn, #purchase-btn {
     text-align: center; 
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #ddebf8;
}
#increment-btn {
    color: black;
    background-color: blue;
    border-radius: 15px;
}
#save-btn {
     color: black;
    background-color: green;
    border-radius: 15px;
    text-align: center;
}
#purchase-btn {
    color: black;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px 15px;
}
#errormsg {
    color: red;
}